body {
    margin: 0;
    background-color: #1a1a1a;
    color: white;
    font-family: "Sono", sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#time-display {
    font-size: 136px;
    font-weight: bold;
    transform: scaleY(1.2);
}

.btn {
    padding: 24px 24px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
