* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    margin: 0;
    background-color: #1a1a1a;
    color: white;
    font-family: "Sono", sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#time-display {
    font-size: 136px;
    font-weight: 550;
    transform: scaleY(1.2);
    text-align: center;
}
#mode-text {
    font-size: 20px;
    text-align: center;
}
.btn {

    border: none;
    border-radius: 30px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin: 5px;
    width: 150px;
    font-family: "Sono", sans-serif;
    font-size: 17px;
    font-weight: 500;
    height: 60px;
    text-align: center;
}

#app {
    text-align: center;
}

.modeBtn {

    border: none;
    border-radius: 30px;
    background-color: grey;
    color: white;
    cursor: pointer;
    margin: 5px;
    width: 150px;
    font-family: "Sono", sans-serif;
    font-size: 17px;
    font-weight: 500;
    height: 60px;
    text-align: center;
}

.selectedBtn {
    background-color: darkgrey;
    color: grey;
}
